/*
	GENERAL
*/
body,
html,
#wrapper
{
	height: 100%;
	/* #wrapper must be 100% so innerards can be whole frame tall if they want */
}
body{
	background: url(../img/wood4.jpg) center center no-repeat fixed;
}
.relative{
	position: relative;
}

/*
	CONTAINERS
*/
#sidebar{
	position: fixed;
	width: 20%;
	left: 5%;
	top: 18%;
	color: snow;
}
#wrapper{
	left: 25%;
	width: 75%;
	color: snow;
}


/*
	SECIONS
*/
section.experience,
.year{
	width:75%;
	margin: 0 auto;
	clear: both;
}

/*
	CONTENT
*/
.year{
	text-align: center;
}

/*
	LAYOUT
*/
.center{
	text-align: center;
}


/*
	SPACING ELEMENTS

	These classes just help to space out the scrolling.
	Apply to a div to add proper spacing
*/
.spacer {
	text-align: center;
	min-height: 100px;
}
.spacer.s0 {
	min-height: 1px;
}
.spacer.s1 {
	min-height: 100px;
}
.spacer.s2 {
	min-height: 200px;
}
.spacer.s3 {
	min-height: 300px;
}
.spacer.s4 {
	min-height: 400px;
}
.spacer.s5 {
	min-height: 500px;
}
.spacer.s6 {
	min-height: 600px;
}
.spacer.s7 {
	min-height: 700px;
}
.spacer.s8 {
	min-height: 800px;
}
.spacer.s9 {
	min-height: 900px;
}
.spacer.s10 {
	min-height: 1000px;
}
.spacer.s_viewport {
	min-height: 100%;
	min-width: 100%;
	/* This class is used to make sure the scroll "start" can reache the trigger*/
}
.spacer.s25p {
	min-height: 25%;
}

/*
	COLORS
*/
/*
<p class="bg-primary">...</p>
<p class="bg-success">...</p>
<p class="bg-info">...</p>
<p class="bg-warning">...</p>
<p class="bg-danger">...</p>
